#root{
    border: 1px solid red;
}
.foo-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  max-width: 400px;
  padding: 10px 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h4.section-head{
    /* border-bottom: 1px solid #ddd;*/
    padding-bottom: 5px;
}
.list-group-item:hover{
    cursor: pointer;
}
.list-group-item{
    border-radius: 0px;
}
.list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.filter-search-list{
    min-height: 100px;
    height: 200px;
    max-height: 300px;
    overflow-y: scroll;
}
.filter-search-list li:hover{
    cursor: pointer;
}
.filter-search-list .itemLabel{ }
.filter-search-list .itemID{ font-size: .8em; font-style: italic; padding-left: 1px 5px; color:darkorange;}
.filter-search-list .itemLookup{ font-size: .8em; font-style: italic; padding: 1px 5px; color:green;}
.help-block{ margin-bottom: 5px; font-size: .8em;}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

.rel-props{ margin-left: 10px;}
